.index-background {
  position: absolute;
  top: 0;
  z-index: -1;
}

.index-background img {
  width: 100vw;
}

/*HEADER*/

.header {
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

#lena-abraham {
  font-family: 'Germania One', cursive;
  font-weight: 900;
  font-size: 50px;
  /*border: 1px solid black;*/
  margin-left: 40px;
  margin-right: 60px;
  cursor:url(images/cursors/knife.png), auto;
}

.titles {
  position: fixed;
  font-family: 'Germania One', cursive;
  font-size: 18px;
  top: 73px;
  left: 40px;
  color: #6d6d6d;
}

.header-item {
  font-family: 'Germania One', cursive;
  font-weight: 900;
  font-size: 35px;
  color: gray;
  margin-left: 30px;
}

.header-item:hover {
  color: black;
  cursor:url(images/cursors/knife.png), auto;
}

/*PHOTOS*/

.photo {
  align-self: center;
  cursor:url(images/cursors/knife.png), auto;
}

.photo:hover {
  z-index: 5;
  box-shadow: 0px 0px 2px 2px #474747;
}

.photo-row {
  display: flex;
  justify-content: space-between;
  width: 96vw;
  margin: 0 auto;
  margin-bottom: 1.5vw;
}

.size-1 {
  width: 100%;
}

.size-2 {
  width: 49%;
}

.size-3 {
  width: 32%;
}

/*MODAL*/

.modal-background {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal-image {
  position: relative;
  align-self: center;
  height: 96%;
  top: 2%;
}

/*VIDEOS*/

.videos {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

/*CONTACT*/

.hamburger-phone {
  text-align: center;
}

.contact {
  /*border: 1px solid black;*/
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.icons {
  cursor:url(images/cursors/knife.png), auto;
  font-size: 100px !important;
}

.icons:hover {
  color: gray;
}
