.game-board {
  position: relative;
  width: 490px;
  height: 560px;
  margin: 0 auto;
}

.current-piece-div {
  position: absolute; top: 0; left: 1px;
  width: 490px;
  height: 70px;
  display: flex;
}

.current-piece-cell {
  width: 70px;
  height: 70px;
  position: relative;
}

.game-grid {
  position: absolute; bottom: 0; left: 0;
  width: 490px;
  height: 490px;

  background-color: white;
  border: 1px solid black;
}

.game-row {
  width: 490px;
  height: 70px;
  display: flex;
}

.game-cell {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  position: relative;
}

.game-image {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 8px;
  left: 8px;
}

.game-image-clear {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 8px;
  left: 8px;
  opacity: 0.7;
}

.game-image-transition {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 8px;
  left: 8px;
}
