.header {
  background-color: rgba(270, 270, 270, 0.5);
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}

#lena-abraham {
  font-family: 'Germania One', cursive;
  font-weight: 900;
  font-size: 50px;
  margin-left: 40px;
  margin-right: 60px;
  cursor:url(../images/cursors/knife.png), auto;
}

.header-item {
  font-family: 'Germania One', cursive;
  font-weight: 900;
  font-size: 35px;
  color: gray;
  margin-left: 30px;
  cursor:url(../images/cursors/knife.png), auto;
  position: relative;
}

.header-item:hover {
  color: black;
  cursor:url(../images/cursors/knife.png), auto;
}

.selected {
  color: black;
}

.titles {
  position: absolute;
  font-family: 'Germania One', cursive;
  font-size: 18px;
  top: 73px;
  left: 40px;
  color: #6d6d6d;
}

.dropdown {
  position: absolute;
  left: 8px;
  top: 40px;
  height: 78px;
  width: 100px;
  background-color: rgba(270, 270, 270, 1);
  border: 0px;
  border-radius: 4px;
  box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.5);
}

.dropdown-item-container {
  padding: 4px;
}

.dropdown-item {
  font-family: 'Germania One', cursive;
  font-weight: 900;
  font-size: 20px;
  color: gray;
  padding: 8px;
}

.dropdown-item:hover {
  color: black;
  cursor:url(../images/cursors/knife.png), auto;
}
